<!--BEGIN-info-->
<div id="showcase">

  <div class="container">

    <h1 style=" color:black">Controleer de snelheid van je netwerkkaart</h1>

  </div>

  <!--OS-->
  <div class="services">

    <h1 style=" color:black">1.Selecteer je OS</h1>

    <!--Win10-->
    <div class="cen">
      <div class="service">
        <img src='../../assets/windows.jpg' width="60" height="60" id="win10">
        <a href="client-suggestions-internet-cable-slow-modem-check-computer-win10"><p><b>Windows 10</b></p></a>
      </div>

      <!--Win8.1-->
      <div class="service">
        <img src='../../assets/windows-81-es-la-versi-243n-actual-del-sistema-operativo-de-90039.png' width="60"
             height="60" id="win81">
        <a href="client-suggestions-internet-cable-slow-modem-check-computer-win81"><p><b>Windows 8</b></p></a>
      </div>

      <!--Win7-->
      <div class="service">
        <img src='../../assets/windows-7-logo.png' width="60" height="60" id="win7">
        <a href="client-suggestions-internet-cable-slow-modem-check-computer-win7"><p><b>Windows 7</b></p></a>
      </div>

      <!--Mac-OS-->
      <div class="service">
        <img src='../../assets/mac.png' width="60" height="60" id="macOS">
        <a href="client-suggestions-internet-cable-slow-modem-check-computer-mac-os"><p><b>Mac-OS</b></p></a>

      </div>

    </div>

  </div>

</div>


