<head>
</head>

<div id="showcase">

  <div class="container">

    <h1 style=" color:orange"><b>Interactive TV</b></h1>

    <br>

    <h3><b>Alles over de installatie, het gebruik, storingen en de administratie van interactive TV op een rij.</b></h3>

  </div>

  <div class="container">

    <br>

    <h2 style="text-align:center; color: orange;"><b>Hulp bij:</b></h2>

    <br>
    <br>


    <div class="services">

      <div class="cen">
        <div class="service">

          <i class="fas fa-cogs"></i>

          <h1><b>Installeren</b></h1>

          <br>

          <p>Wil je televisie van Ziggo installeren? Dan helpen we je graag verder.</p>

          <br>

          <button class="button" (click)="Installation()">Installeren</button>

        </div>

        <div class="service">

          <i class="fas fa-house-damage"></i>

          <h1><b>Storing</b></h1>

          <br>

          <p>Geen televisie, of storend beeld? Dat is niet fijn! We helpen je graag verder.</p>

          <br>

          <button class="button" (click)="Malfunction()">Storing</button>
          <!--          After the click the method Malfunction will redirect you to the Client chat.-->

        </div>

      </div>

    </div>

  </div>

</div>
