<div class="client-page">
  <div class="container">
    <h1>Client details</h1>
    <form [formGroup]="editForm">
      <div class="form-group">
        <label for="firstName">First name</label>
        <input formControlName="firstName" placeholder="First Name" name="firstName" class="form-control"
               id="firstName">
      </div>

      <div class="form-group">
        <label for="lastName">Last name</label>
        <input formControlName="lastName" placeholder="Last name" name="lastName" class="form-control" id="lastName">
      </div>

    </form>
    <button class="btn ziggo-oranje">Update</button>
    <button class="btn ziggo-oranje" id="deleteuser" (click)="deleteUser(user)">Delete</button>
    <a class="btn ziggo-oranje" id="terug" routerLink="/clients">Back</a>
  </div>
</div>
