<div id="showcase">
  <div class="container">
    <h1 style="color:black">Mobiel</h1>

    <h2 style="color: orange;">Ziggo Mobiel is gestopt. Voor al je vragen of facturen kun je terecht bij Ziggo.</h2>
  </div>

  <div class="services">
    <div class="container">
      <h3>Vragen over je oude abonnement?</h3>
      <p>Meer informatie over je oude Ziggo mobiel abonnement? Bel 0900 – 1884 (normaal tarief) of bel naar 1200 met de
        vaste lijn van Ziggo (gratis). Dat kan elke dag van 9.00 tot 22.00 uur. Ben je overgestapt naar Vodafone? Dan
        vind
        je al je gegevens in My Ziggo.</p>
    </div>
  </div>
</div>


