<!--Showcase text van de pagina-->
<div id="showcase">
  <section class="section-component">
    <div class="container">
      <h1>Wifi doet het niet</h1>
      <p><strong>Zie je weinig of geen wifi-streepjes? Of geeft het icoon een foutmelding? Dan doet je wifi het niet. We
        gaan het oplossen.</strong></p>
    </div>
  </section>

  <div class="services">
    <div class="container">
      <h2><strong>Checklist</strong></h2>

      <button class="accordion">Check je modem</button>
      <div class="panel">
        <p>Geen storing gevonden? Dan is er misschien iets met je modem aan de hand. Doen de lampjes op het modem het
          wel goed? Dat checken we samen met je in ons stappenplan.</p>
        <br>
        <!--      <a href="client-suggestions-internet-wifi-slow-modem-check" class="supportButton">Check je modem zo</a>-->
      </div>

      <button class="accordion">Reset je modem en extra internetpunt</button>
      <div class="panel">
        <p>Nog steeds geen internetverbinding? In veel gevallen helpt het om je modem en als je die hebt je extra
          internetpunt
          (router of access point) opnieuw op te starten. Daar helpen we je natuurlijk graag mee.</p>
        <br>
        <!--      <a href="client-suggestions-internet-wifi-slow-modem-resetten" class="supportButton">Reset je modem zo</a>-->
      </div>

      <button class="accordion">Maak opnieuw verbinding met het juiste netwerk</button>
      <div class="panel">
        <p>Soms heeft je wifi-apparaat onbedoeld verbinding met een netwerk in de buurt. Bijvoorbeeld omdat je ooit hebt
          ingelogd op de wifi van het koffietentje op de hoek of bij de buren. Hierdoor kun je traag internet krijgen.
          Check daarom of je met je eigen netwerk bent verbonden. Als je geen eigen netwerknaam hebt ingesteld, begint
          de netwerknaam meestal met ziggoXXXX.

          Als je niet met het juiste netwerk bent verbonden, kun je het beste de verbinding vergeten en daarna weer
          opnieuw verbinding maken. Dat is zó gepiept.</p>
        <br>
        <!--      <a href="client-suggestions-internet-wifi-slow-maak-verbinding" class="supportButton">Zoek juiste netwerk</a>-->
      </div>

      <button class="accordion">Check je apparaat</button>
      <div class="panel">
        <p>
          Het klinkt misschien een beetje raar, maar soms staat wifi opeens uit. Bijvoorbeeld omdat je op een knop hebt
          gedrukt.
          Of misschien staat je toestel in vliegtuigmodus. Controleer dat voor de zekerheid. Daarvoor kun je natuurlijk
          ook de
          probleemoplosser van Windows of Apple gebruiken.
        </p>
      </div>

      <br><br>

      <p>Heeft de informatie op deze pagina je geholpen? Zo nee, dan niet getreurd. Selecteer dan eerst je modem en stel
        de vraag aan onze virtuele assistent.</p>

      <h3><strong>Kies je modem</strong></h3>
      <select name="modems" (change)="selectChangeHandler($event)" [(ngModel)]="selectedValue">
        <option name="modems" *ngFor="let modem of modems" [value]="modem.idModem">
          {{modem.modemNaam}}
        </option>
      </select>
      <br><br>
      <!--Buttons-->
      <div class="service">
        <a (click)="tagToTagService()" routerLink="/client-chat" style="float:left" class="supportButton">Stel een
          vraag</a>
      </div>
    </div>

  </div>
</div>
