<!--BEGIN-info-->
<div id="showcase">

  <div class="container">

    <h1 style=" color:black">Service & Contact</h1>

    <h2 style=" color:orange">Waarmee kunnen we je helpen?</h2>

  </div>

  <!--Suggestion of every problem-->
  <div class="services">

    <h1 style=" color:black">Hulp per product</h1>

    <!--MOBIEL-->
    <div class="cen">

      <a href="client-suggestions-mobile" (click)="MOFunction()">
        <!--        after the click the MOFunction method will console log a string with the name Mobile-->
        <div class="service">
          <i class="fas fa-mobile" id="mobile"></i>
          <h2 style=" color:black" class="Mobiel">Mobiel</h2>
          <p>Hulp voor je toestel, abonnement, prepaid of 4G.</p>
        </div>
      </a>

      <!--INTERNET-->
      <a href="client-suggestions-internet" (click)="INFunction()">
        <!--        after the click the INFunction method will console log a string with the name Internet-->
        <div class="service">
          <i class="fas fa-wifi" id="internet"></i>
          <h2 style=" color:black" class="Internet">Internet & Wifi</h2>
          <p>Hulp bij installatie, wifi verbinding en instellingen.</p>
        </div>
      </a>

      <!--INTERACTIVE-TV-->
      <a href="client-suggestions-interactive-tv" (click)="ITVFunction()">
        <!--        after the click the ITVFunction method will console log a string with the name Interactive-tv-->
        <div class="service">
          <i class="fas fa-tv" id="interactive-tv"></i>
          <h2 style=" color:black" class="Interactieve-TV">Interactive TV</h2>
          <p>Hulp bij installatie, storingen oplossen en voorkeuren.</p>
        </div>
      </a>

      <!--TELEFOON-->

      <a href="client-suggestions-telephony" (click)="VTFunction()">
        <!--        after the click the VTFunction method will console log a string with the name Telefoon-->
        <div class="service">
          <i class="fas fa-phone" id="telephony"></i>
          <h2 style=" color:black" class="Vaste-Telefoon">Vaste Telefoon</h2>
          <p>Hulp bij installatie, verbinding en voicemail instellingen.</p>
        </div>
      </a>

    </div>

  </div>

</div>
